<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.agus.coba.aplikasi3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Profile Data"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentActivity" android:label="Daftar Mahasiswa" />
        <activity android:name=".AddStudent" android:label="Tambah Data Mahasiswa"/>
        <activity android:name=".TeacherActivity" android:label="Daftar Dosen"/>
        <activity android:name=".Edit_student" android:label="Edit Data Mahasiswa"/>
        <activity android:name=".AddTeacher" android:label="Tambah Data Dosen"/>
        <activity android:name=".Edit_Teacher" android:label="Edit Data Dosen"></activity>
    </application>

</manifest>
